.footer_container {
  padding-top: 5rem;
  background: white;
  img {
    width: 75%;
    position: relative;
    top: -110px;
    right: -45.5px;
  }
  .footer_links {
    padding-left: 2rem;
    padding-top: 2rem;
    h3 {
      color: #9c9590;
      font-family: Barlow;
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      margin-bottom: 2rem;
      li a {
        text-decoration: none;
        color: #000;
        font-family: Barlow;
      }
    }
  }
  p {
    text-align: center;
    padding: 2rem;
    font-family: Barlow;
  }
}

@media (min-width: 777px) {
  .footer_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}
