.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 75px;
  height: auto;
}

.navbar nav {
  position: relative;
  color: #fff;
}

.hamburger {
  z-index: 1000;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5, -50%);
}

.line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 5px;
}

.nav_links {
  display: flex;
  position: fixed;
  background: green;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  /* clip-path: circle(100px at 90% -15%);
  -webkit-clip-path: circle(100px at 90% -15%);
  transition: all 1s ease-out; */
}

.nav-links.open {
  clip-path: circle(1000px at 90% -15%);
  -webkit-clip-path: circle(1000px at 90% -15%);
}
