.navbar {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.logo_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar img {
  width: 75px;
  height: auto;
}

.navbar nav {
  position: relative;
  color: #fff;
}

.hamburger {
  z-index: 1000;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5, -50%);
}

.line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 5px;
}

.nav_links {
  display: flex;
  text-align: center;
  list-style: none;
  position: fixed;
  background: #fff;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  /* clip-path: circle(100px at 90% -15%);
  -webkit-clip-path: circle(100px at 90% -15%);
  transition: all 1s ease-out; */
  z-index: 10000;
}
.nav_links li {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
}

.nav_links li:first-child {
  margin-top: 5rem;
}

.nav_links li a {
  text-decoration: none;
  color: #333;
}

.nav_links.open {
  clip-path: circle(1000px at 90% -15%);
  -webkit-clip-path: circle(1000px at 90% -15%);
}

.nav_links li a:hover {
  font-size: 24px;
  color: #2c8536;
}

@media (min-width: 1242px) {
  .navbar {
    display: none;
  }
}
