.beers_sec1 {
  height: 95vh;
  text-align: center;
  padding-top: 10rem;

  h1 {
    font-family: "Yeseva One";
    font-weight: 100;
    font-size: 2rem;

    width: 95%;
    margin: 0 auto;
  }

  img {
    margin-top: 4rem;
    width: 100%;
    height: auto;
  }
  .beers_background {
    display: none;
  }
}

.beers_sec2title {
  color: #000 !important;
  margin-bottom: 3rem !important;
  text-align: center;
  font-size: 1.5rem;
  width: 95%;
}

.beers_sec2 {
  margin-top: 5rem;
  margin-left: 2rem;
  .beers_sec3title {
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5.5rem;
    width: 95.5%;
  }
  h1 {
    font-family: "Yeseva One";
    font-weight: 100;
    text-transform: uppercase;
    color: #2c8536;
  }

  .beers_lager {
    div img {
      width: 100%;
      height: auto;
    }

    .beers_lagertext {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    h2 {
      font-family: "Yeseva One";
      font-weight: 100;
    }
    p {
      font-family: "Barlow", sans-serif;
      margin-bottom: 1rem;
      width: 95%;
    }
    span {
      font-family: "Barlow", sans-serif;
      text-transform: uppercase;
      color: #9c9590;
      font-weight: 700;
    }
    .beers_lagerstats div {
      padding-bottom: 1rem;
      h1 {
        color: #000;
      }
    }
  }
}

.beers_pilsner {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  h1 {
    font-family: "Yeseva One";
    font-weight: 100;
    text-transform: uppercase;
    color: #2c5c85;
  }
  div img {
    width: 100%;
    height: auto;
  }

  .beers_pilsnertext {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-family: "Yeseva One";
    font-weight: 100;
  }
  p {
    font-family: "Barlow", sans-serif;
    margin-bottom: 1rem;
    width: 95%;
  }
  span {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: #9c9590;
    font-weight: 700;
  }
  .beers_pilsnerstats div {
    padding-bottom: 1rem;
    h1 {
      color: #000;
    }
  }
}

.beers_porter {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  h1 {
    font-family: "Yeseva One";
    font-weight: 100;
    text-transform: uppercase;
    color: #8e3600;
  }
  div img {
    width: 100%;
    height: auto;
  }

  .beers_portertext {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-family: "Yeseva One";
    font-weight: 100;
    margin-top: 3rem;
  }
  p {
    font-family: "Barlow", sans-serif;
    margin-bottom: 1rem;
    width: 95%;
  }
  span {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: #9c9590;
    font-weight: 700;
  }
  .beers_porterstats div {
    padding-bottom: 1rem;
    h1 {
      color: #000;
    }
  }
}

.beers_weizen {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  h1 {
    font-family: "Yeseva One";
    font-weight: 100;
    text-transform: uppercase;
    color: #8e3600;
  }
  div img {
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .beers_weizentext {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-family: "Yeseva One";
    font-weight: 100;
  }
  p {
    font-family: "Barlow", sans-serif;
    margin-bottom: 1rem;
    width: 95%;
  }
  span {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: #9c9590;
    font-weight: 700;
  }
  .beers_weizenstats div {
    padding-bottom: 1rem;
    h1 {
      color: #000;
    }
  }
}

//media q

@media (min-width: 777px) {
  .beers_sec1 {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    h1 {
      font-size: 2.5rem;
    }
    .beers_background {
      display: block;
      padding-left: 1rem;
    }
  }

  .beers_sec2 {
    .beers_sec2title {
      font-size: 2.5rem;
    }
  }
  .beers_lager {
    display: flex;
    align-items: center;
  }
  .beers_porter {
    display: flex;
    align-items: center;
  }
  .beers_pilsner {
    display: flex;
    align-items: center;
  }
  .beers_weizen {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 994px) {
  .beers_sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1 {
      font-size: 3.5rem;
    }
  }
}
