.beers_sec1 {
  height: 95vh;
  text-align: center;
  padding-top: 10rem;

  h1 {
    font-family: "Yeseva One";
    font-weight: 100;
    font-size: 2rem;

    width: 95%;
    margin: 0 auto;
  }

  img {
    margin-top: 2rem;
    width: 350px;
    height: auto;
  }
}
