.contact_sec1 {
  height: 95vh;
  text-align: center;
  padding-top: 10rem;

  h1 {
    font-family: "Yeseva One";
    font-weight: 100;
    font-size: 3.5rem;

    width: 95%;
    margin: 0 auto;
  }

  img {
    margin-top: 4rem;
    width: 100%;
    height: auto;
  }
}

.contact_sec2 {
  text-align: center;
  margin-top: 7rem;
  h1 {
    font-family: "Yeseva One";
    font-size: 2rem;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  img {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-family: "Barlow", sans-serif;
  }

  p {
    margin-bottom: 4rem;
    font-family: "Barlow", sans-serif;
  }

  a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: #333;
  }
}

.contact_sec3 {
  text-align: center;
  padding-top: 2rem;
  h1 {
    font-size: 2rem;
    font-family: "Yeseva One";
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-bottom: 5rem;
    input {
      margin-bottom: 1rem;
      width: 100%;
      border-color: #d4c5bc;
      color: #9c9590;
      padding: 10px;
      background: none;
      font-family: "Barlow", sans-serif;
      border: 1px solid;
    }
    textarea {
      margin-bottom: 1rem;
      width: 100%;
      height: 200px;
      border-color: #d4c5bc;
      color: #9c9590;
      background: none;
      padding: 10px;
      font-family: "Barlow", sans-serif;
      border: 1px solid;
    }
    button {
      color: #2c8536;
      border-color: #2c8536;
      padding: 1rem;
      background: none;
      border: 1px solid;
    }
  }
}
