* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  .home_content {
    .olive_bg {
      width: 95%;
      height: 100px;
    }
    section {
      display: flex;
      .home_info {
        padding: 50px 50px;
        flex: 0.9;
        h1 {
          font-family: "Yeseva One";
          text-transform: uppercase;
          font-size: 64px;
          line-height: 1.2;
        }
      }
      .home_img1 {
        flex: 0.1;
      }
    }
  }
}
